/* .formBtn{
    margin: 10px 10px;
} */

.btndiv {
  text-align: center;
}

.oauth {
  position: relative;
  display: inline;
}

.form-group p {
  color: red;
}
.form-card {
  /* margin: auto; */
  max-width: 40rem;
}
